# The hostname where the app will be accessible. This is used for generating links and configuring the server.
VITE_HOST="obsidian.example.com"

# The port on which the server will listen. Default is 4173.
VITE_PORT=4173

# "browser" (Users select vaults from their local disk) or "selfhosted" (Users select vaults from the server's filesystem)
VITE_OBSIDIAN_TARGET=selfhosted
